<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarColor01">
      <%= image_tag "logo.png", :class => "logo" %>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fw-bold" style="color: #fd7e14;" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-muted" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-muted" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-muted" href="#">About</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-secondary btn-outline-muted" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>