/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.img-400 {
  width: 400px;
  height: 100%;
}

.bkg-tm {
  background-color: rgb(78, 67, 61);
}

.margin-side-nav {
  margin-left: 12px;
  margin-right: 12px;
}

.margin-b {
  margin-top: 10px;
}

.maxi-text-photo {
  text-align: center;
  bottom: 100px;
  font-family: 'Roboto', sans-serif;
}

.text-photo {
  text-align: center;
  bottom: 50px;
  font-family: 'Roboto', sans-serif;
}

.mini-text-photo {
  text-align: start;
  bottom: 25px;
  left: 25px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

.t-photo {
  bottom: -14px;
  margin-right: 24px;
  left: 25px;
  font-size: 10px;
}

.categories-text-photo {
  position: absolute;
  top: 8px;
  left: 16px;
  font-family: 'Roboto', sans-serif;
  border-bottom: 3px solid rgba(255, 255, 0, 0.479);
}

.categories-text-photo2 {
  position: absolute;
  bottom: 65px;
  left: 16px;
  font-family: 'Roboto', sans-serif;
}

.categories-text-photo3 {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-family: 'Roboto', sans-serif;
}

.contain {
  position: relative;
}

.size-photo {
  width: 100%;
  height: 190px;
}

.crop-center {
  object-fit: cover;
  object-position: 50% 50%;
}

.my-projects-image {
  width: 100%;
  height: 300px;
}

.nm {
  margin-left: 12px;
  margin-right: 12px;
}

.big {
  width: 100%;
  height: 500px;
}

.bg-notice {
  background-color: lightblue;
}

.vote {
  width: 80px;
  height: auto;
}

.category-text-photo {
  text-align: start;
  bottom: 150px;
  left: 25px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  border-bottom: 3px solid rgba(255, 255, 0, 0.479);
}

.vote-text {
  font-weight: bolder;
  font-size: 40px;
}
