// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "font-awesome";

.logo {
  height: 10%;
  width: 10%;
}

.form-control {
  width: 150px !important;
  height: 30px;
}

.s-btn {
  margin-left: 12px !important;
  margin-right: 12px !important;
}

.s-icon {
  width: 23px;
  height: 23px;
  background-color: #ff7f16;
  border-radius: 50%;
  margin: 2px;
}

.th-or {
  color: #ff7f16 !important;
  text-decoration: none;
}

.fs {
  font-size: 12px;
}
