// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "font-awesome";

.logo {
  height: 10%;
  width: 10%;
}

.form-control {
  width: 150px !important;
  height: 30px;
}

.s-btn {
  margin-left: 10px;
  margin-right: 10px;
}