<div class="nm bg-white">
  <div class="container">
    <h1>Categories</h1>
    <% @categories.each_slice(2) do |c1, c2| %>
      <div class="row">
        <%= show_category(c1) %>
        <%= show_category(c2) %>
      </div>
    <% end %>
  </div>
</div>