<div class="nm bg-white">
  <div class="row">
    <div class="col-6">
      <p><%= @categories.first.name %></p>
    </div>
    <div class="col-6">
      <p><%= @categories.second.name %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p><%= @categories.third.name %></p>
    </div>
    <div class="col-6">
      <p><%= @categories.fourth.name %></p>
    </div>
  </div>
</div>